.header-image {
    margin: 20px;
}

.nav-item {
    margin-left: 150px;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.recipe-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 30px;
}

.recipe-details a {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.recipe-details img{
    width: 150px;
}

.category-details a{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 30px;
}

.category-details2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin: 30px;
}

.category-details-recipes a{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 30px;
}

.category-details-img{
    width: 200px;
}

.content-add a{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px;
}

.content-add img{
    width: 30px;
}

.add-form {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.recipe-details3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-details3 img{
    width: 50%;
}

.description {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px;
}

.description-ingredient, .description2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px;
}

.edit-delete {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    margin: auto;
}

.edit-delete h4 {
    margin-left: 30px;
}