.header-image {
    margin: 20px;
}

.nav-item {
    margin-left: 200px;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.recipe-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 30px;
}

.recipe-details img{
    width: 150px;
}

.category-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 30px;
}

.category-details2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin: 30px;
}

.category-details-recipes{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 30px;
}

.category-details-img{
    width: 200px;
}