<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head">
</head>
<body>
<div th:replace="fragments :: header"></div>

<div class="content">
    <h1 style="text-align: center" class="mt-4"></h1>

    <div th:each="recipe: ${recipes}" class="recipe-details">
        <a th:href="|/recipe/${recipe.id}|">
            <img th:src="${recipe.img}">
            <p th:text="${recipe.name}"></p>
        </a>
        <p th:text="|Liczba głosów: ${recipe.likeCounter}|"></p>
    </div>
</div>

</body>
</html>