<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head">
</head>
<body>
<div th:replace="fragments :: header"></div>

<div class="content">
    <h1 style="text-align: center" class="mt-4"></h1>

    <div class="recipe-details3">
        <img th:src="${recipe.img}">
        <h3 th:text="${recipe.name}"></h3>
        <div class="description">
            <div class="description-ingredient">
                <p><b>Składniki</b></p>
                <ul th:each="ingredient : ${ingredients}">
                    <li th:text="${ingredient.description}"></li>
                </ul>
            </div>
            <div class="description2">
                <p><b>Przygotowanie</b></p>
                <p th:text="${recipe.description}"></p>
            </div>
        </div>
    </div>
</div>

<div class="edit-delete">
    <a th:href="|/recipe/edit/${recipe.id}|"><h4>Edytuj</h4></a>
    <a href=""><h4>Usuń</h4></a>
</div>
</body>
</html>